@model AccountManagement.Application.Contracts.Account.AccountViewModel;





<div style="direction: rtl; padding: 20px">

    <h2>@Model.Fullname  گرامی سفارش شما با موفقیت ثبت شد. پس از تماس کارشناسان ما و پرداخت وجه، سفارش ارسال خواهد شد.</h2>

</div>
