@model AccountManagement.Application.Contracts.Account.AccountViewModel;





<div style="direction: rtl; padding: 20px">

    <h2>@Model.Fullname گرامی سفارش شما با شماره پیگیری @Model.IssueTrackingNo با موفقیت  ثبت شد و ارسال خواهد شد.</h2>

</div>
